@charset "utf-8";
body { margin: 0px; width:100%; font-family: Tahoma, Geneva, sans-serif; font-size: 14px; }
#pageTop {
   background:url(../Images/footer.jpg) repeat-x;
   height:77px;
  
}
#pageMiddle {
	 background:url(../Images/1.jpg) repeat;
	height:600px;
	
}
#pageBottom {
	background:url(../Images/footer.jpg) repeat-x;
    height:70px;
}

#header {position: absolute; top: 0; left: 0;}
#header {width: 100%; height: 12%;}
h1 {font-size:40px;}
h1 {text-shadow:2px 2px  #FF0000;}
h1 {text-align:justify;}
h1 {text-indent:50px;}
h1 {font-weight:bold;}
#mail1,#pass1 {display:inline}
#mail1,#pass1{height:1.5em}
#mail1,#pass1{font-size:15px}
#mail1,#pass1{letter-spacing:1.125px;
border:1px solid #6685ab;
padding:5px 10px;
background:#ffffff;
width:250px;
word-spacing:3px;
border-radius:5px;
}


#menu {
    
    position: absolute;
    
   margin: -100px 0 0 -317px;
    top: 30%;
    left: 100%;
  
    float:right;
}
#f1{
 padding:5px 10px;
background:#ffffff;
border-radius:5px;
border:1px solid #6685ab;

}

#loginBtn
{
   
    border:1px solid #6685ab;
    font-size: 15px; 
    font-weight: bold;
    color: #ffffff;
    font-family: ariel; 
    background-color: #000000;
    height:30px;
     width:50px;
        -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
        //border:groove;
        background: linear-gradient(top,#191970 0%, #4682B4 160%);  
	background: -moz-linear-gradient(top, #191970 0%, #4682B4 160%); 
	background: -webkit-linear-gradient(top, #191970 0%, #4682B4 160%); 
	//box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
        box-shadow: 3px 3px 1.5px #888888;

}
#getIn
{
   
     position:absolute;
    
     top:03%;
     left:22%;


    border:1px solid #6685ab;
    font-size: 12px; 
    font-weight: bold;
    color: #ffffff;
    font-family: ariel; 
    background-color: #000000;
    height:40px;
     width:110px;
        -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
        //border:groove;
        background: linear-gradient(top,#191970 0%, #4682B4 160%);  
	background: -moz-linear-gradient(top, #191970 0%, #4682B4 160%); 
	background: -webkit-linear-gradient(top, #191970 0%, #4682B4 160%); 
	//box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
        box-shadow: 3px 3px 1.5px #888888;

}
#getExisting {
     position:absolute;
     top:03%;
     right:01%;
     display:none;
    
    border:1px solid #6685ab;
    font-size: 12px; 
    font-weight: bold;
    
    color: #ffffff;
    font-family: ariel; 
    background-color: #000000;
    height:40px;
     width:200px;
        -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
        //border:groove;
        background: linear-gradient(top,#191970 0%, #4682B4 160%);  
	background: -moz-linear-gradient(top, #191970 0%, #4682B4 160%); 
	background: -webkit-linear-gradient(top, #191970 0%, #4682B4 160%); 
	//box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
        box-shadow: 3px 3px 1.5px #888888;

}
#loginBtn:hover {
    border: none;
    background: 	#B7B68EE;
    box-shadow: 0px 0px 1px #777;

}
#getIn:hover {
    border: none;
    background: 	#B7B68EE;
    box-shadow: 0px 0px 1px #777;

}
#getExisting:hover {
    border: none;
    background: 	#B7B68EE;
    box-shadow: 0px 0px 1px #777;

}
img {position:absolute;top:5%;left:0%;height:300px;width:300px}

#margin {
        position: absolute;
	width: 100%;
	//background-color:#dcdcdc;
	-moz-transform: skew(-2deg, 2deg);
	-webkit-transform: skew(-2deg, 2deg);
         height:150px;
         top:79%;
        
         background: linear-gradient(top, #c0c0c0 0%, #000000 100%);
	background: -moz-linear-gradient(top, #c0c0c0 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #c0c0c0 0%, #000000 100%);
}
#fill555 {
        position: absolute;
	width: 100%;
	background-color: yellow;
	-moz-transform: skew(-1.5deg,2deg );
	-webkit-transform: skew(-1.5deg,2deg);
         height:40px;
         top:87%;
}
#fillup{

position:absolute;
width:100%;
background-color:#ffff47;
height:60px;

top:90%;
}
#fillup2{

position:absolute;
width:100%;
background-color:#ffff47;
height:20px;
top:91%;




}
#fillup3{

position:absolute;
width:100%;
background-color:#ffff47;
height:20px;
top:92%;




}
#footer{

position:absolute;
width:100%;
background-color:#ffff47;
height:150px;

top:100%;
}

input {display:inline} 
input{height:2em}
input{font-size:15px}
#chk1{height:0.9em}
#mail2,#mail21,#pass21,#pass2{letter-spacing:1.5px;}
 select {display:inline} 
select, option {height:3em}
select, option {width:7.5em}
#fname1,#lname1{
border:1px solid #6685ab;
padding:5px 10px;
background:#ffffff;
width:135px;
border-radius:5px;
}
#mail21,#mail2,#pass21,#pass2{
border:1px solid #6685ab;
padding:5px 10px;
background:#ffffff;
width:298px;
border-radius:5px;
}
#signUp {
    
    position: absolute;
    
    top: 15%;
    left: 29%;
  
    align:center;
    display:none;
}
#year1,#mnth1,#day1,#q1{
 padding:5px 10px;
background:#ffffff;
border-radius:5px;
border:1px solid #6685ab;

}
.signOnClick
{
   
    border:1px solid #6685ab;
    font-size: 20px; 
    font-weight: bold;
    color: #ffffff;
    font-family: ariel; 
    background-color: #000000;
    height:70px;
     width:348px;
        -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
       // border:groove;
        background: linear-gradient(top,#191970 0%, #4682B4 160%);  
	background: -moz-linear-gradient(top, #191970 0%, #4682B4 160%); 
	background: -webkit-linear-gradient(top, #191970 0%, #4682B4 160%); 
	//box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
        box-shadow: 5px 5px 2px #888888;

}
.signOnClick:hover {
    border: none;
    background: 	#B7B68EE;
    box-shadow: 0px 0px 1px #777;

}




#fp:link {color:#6685ab;text-decoration:none;}    
#fp:visited {color:#ffffff;text-decoration:none;} 
#fp:hover {color:#000000;text-decoration:underline;}   
#fp:active {text-decoration:underline;} 
a:link {color:#000000;text-decoration:none;}    
a:visited {color:#000000;text-decoration:none;color:} 
a:hover {color:#6685ab;text-decoration:underline;}   
a:active {color:#efefef;text-decoration:underline;} 

#lbl
{
	color:#900;
	font-weight:bold;
}