@charset "utf-8";
/* CSS Document */
body{
				margin:0px;
				padding:0px;
				 
			 }
 #head{
	            margin:0px;
				padding:0px;
				
                height: 60px;
                background-color: #FFb842;
               
            }
